fvcore
av
validators
matplotlib
jupyter
jupyterlab
jupyterlab_myst
transformers
SentencePiece
accelerate
tiktoken
einops
Pillow
Requests
datasets
evaluate
hf_transfer
numba
torchinfo
onnx>=1.16.2
netron
pandas
timm
bitsandbytes
torchsde
peft
trl
tensorboardX
huggingface
huggingface-hub
scipy
tqdm
shap
kaggle
pipdeptree
roboflow==1.1.47
pickleshare
grad-cam
scikit-learn
jupyterlab-markup
hiredis
jupyter-book
sphinxcontrib-mermaid
sphinx_design
pyppeteer
myst-nb
ipywidgets